<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>

<div class="articles">

  <div class="articles__main">
    <app-big-card
    photoCover="https://images.unsplash.com/photo-1707327956851-30a531b70cda?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    cardTitle="Melhores lugares para mergulhar"
    cardText="Conheça os corais de Ratanambá, a praia maravilhosa esquecida por muitos anos e reencontrada por drones cinco anos atrás."
    ></app-big-card>
  </div>

  <div class="articles__others">
    <app-small-card
    photoCover="https://images.unsplash.com/photo-1542051841857-5f90071e7989?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    contentText="Terra de samurais, gueixas e cerejeiras floridas, o Japão fascina com sua rica cultura e história milenar."
    ></app-small-card>
    <app-small-card
    photoCover="https://images.unsplash.com/photo-1545569341-9eb8b30979d9?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    contentText="Ao mesmo tempo, é líder em tecnologia e inovação, impulsionando o futuro com robótica, inteligência artificial e alta velocidade."
    ></app-small-card>
    <app-small-card
    photoCover="https://images.unsplash.com/photo-1601823984263-b87b59798b70?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    contentText="Onde templos ancestrais se erguem ao lado de arranha-céus futuristas, e a calmaria das paisagens montanhosas contrasta com o ritmo frenético das grandes cidades."
    ></app-small-card>
  </div>

</div>
